extends layout

block content
  h1 #{book.name}
  p #{book.description}

  h4 #[strong Price: ] #{book.price} Galleons
  p #[strong Stock:] #{book.stock}
  p #[strong Category: ]
      a(href='/inventory/books') Book

  hr
  p
    a(href=book.url+'/create') Create Book
  p
    a(href=book.url+'/delete') Delete Book
  p
    a(href=book.url+'/update') Update Book
