extends layout

block content
  h1 #{broom.name}
  p #{broom.description}


  h4 #[strong Price: ] #{broom.price} Galleons
  p #[strong Stock:] #{broom.stock}
  p #[strong Category: ]
    a(href='/inventory/brooms') Broom

  hr
  p
    a(href=broom.url+'/create') Create Broom
  p
    a(href=broom.url+'/delete') Delete Broom
  p
    a(href=broom.url+'/update') Update Broom
