extends layout

block content
  h1= title

  div
    h3 Total Inventory: !{total_inventory}
    h3 Total Stock: !{total_stock}


  div
    h5 All categories
    if category_list.length
      ul
        each category in category_list
          li
            - const link = category.name === "Clothing" ? `inventory/clothing` : `inventory/${category.name}s`
            a(href=link) #{category.name}#{category.name === 'Clothing' ? '' : 's'}

    else
      p There are no categories.
