extends layout

block content
  h1 #{clothing.name}
  p #{clothing.description}


  h4 #[strong Price: ] #{clothing.price} Galleons
  p #[strong Stock:] #{clothing.stock}
  p #[strong Category: ]
      a(href='/inventory/clothing') Clothing

  hr
  p
    a(href=clothing.url+'/create') Create New Clothing Item
  p
    a(href=clothing.url+'/delete') Delete Clothing
  p
    a(href=clothing.url+'/update') Update Clothing
