extends layout

block content
  h1 #{creature.name}
  p #{creature.description}


  h4 #[strong Price: ] #{creature.price} Galleons
  p #[strong Stock:] #{creature.stock}
  p #[strong Category: ]
      a(href='/inventory/creature') #{creature.category[0].name}

  hr
  p
    a(href=creature.url+'/create') Create New Creature
  p
    a(href=creature.url+'/delete') Delete Creature
  p
    a(href=creature.url+'/update') Update Creature
