extends layout

block content
  h1 #{potion.name}
  p #{potion.description}


  h4 #[strong Price: ] #{potion.price} Galleons
  p #[strong Stock:] #{potion.stock}
  p #[strong Category: ]
      a(href='/inventory/potions') Potion

  hr
  p
    a(href='create') Create Potion
  p
    a(href=potion.url+'/delete') Delete Potion
  p
    a(href=potion.url+'/update') Update Potion
