extends layout

block content
  h1 #{wand.name}
  p #{wand.description}


  h4 #[strong Price: ] #{wand.price} Galleons
  p #[strong Stock:] #{wand.stock}
  p #[strong Category: ]
      a(href='/inventory/wand') Wand

  hr
  p
    a(href='create') Create Wand
  p
    a(href=wand.url+'/delete') Delete Wand
  p
    a(href=wand.url+'/update') Update Wand
